* {
    margin: 0;
    padding: 0;
  }

  :root {
    --incorect-letter: #787C7E;
    --correct-letter: #6AAA64;
    --wrong-place-letter: #C9B458;
    --square-text-filled: white;
    --square-border: #D3D6DA;
    --on-input-border:  black;
  }
  
  html,
  body {
    height: 100%;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  #container {
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid rgb(58, 58, 60);
  }
  
  .title {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .square {
    border: 2px solid #D3D6DA;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media only screen and (max-height: 665px) {
    .square {
      min-width: 40px;
      min-height: 40px;
      font-size: 30px;
    }
  }

  @media only screen and (max-height: 555px) {
    .square {
      min-width: 30px;
      min-height: 30px;
      font-size: 20px;
    }
  }

  @media only screen and (max-height: 490px) {
    .square {
      min-width: 20px;
      min-height: 20px;
      font-size: 10px;
    }
  }

  @media only screen and (max-height: 430px) {
    .square {
      min-width: 10px;
      min-height: 10px;
      font-size: 5px;
    }
  }

  #keyboard-container {
    height: 200px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: #D3D6DA;
    color: rgb(0, 0, 0);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }

    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-cog {
  color: black;
}

#messageText {
  color: white;
  background-color: black;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  display: none;
}

.stats {
  display: none;
  border-radius: 12px;
  width: 80%;
  max-width: 800px;
  height: 30%;
  color: black;
  background-color: #e4e4e4;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  margin-top: 20%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 45% 45%;
}
